
.texto{
  text-align: justify;
  text-justify: inter-word;
}

/*Footer*/

.redes{
  padding: 20px;
  width: 80px;
}

/*Index_catalogo*/

aside{
  height: auto;
}

/*Index_catalogo_crud*/

.tablalistado{
  border-collapse:collapse;
}

.trlistado,.thlistado,.tdlistado{
  border:1px solid #000;
	width:150px;
	height:45px;
	vertical-align:middle;
	text-align:center;
}
.thlistado{
	color:#fff;
	background-color: #252525;
}

.trlistado:nth-child(odd) .tdlistado{
	background-color:#eee;
}

.bt-listado{
  text-decoration:none;
	font-size:15px;
	color:#fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:40px;
	padding-right:40px;
	background-color:#000;
}

/*Formularios*/
.contenedor {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form_listado{
	width:600px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

.form_listado label{
	width:200px;
	font-weight:bold;
	display:inline-block;
}

.form_listado input[type="text"],select{
	width: 350px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;	
}

.form_listado input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

.form_listado input[type="submit"]:hover{
	cursor:pointer;
}


/*Merchandising*/
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a:link, a:visited, a:active {
    text-decoration:none;
}